<div class="navbar">
  {{ titulo }}
</div>

<div class="ui-g">
  <div class="ui-g-12">
    <button pButton type="button" (click)="avaliador()" icon="fa-user" label="Acessar Painel"></button>
    <button pButton type="button" (click)="cadastrarResponsaveis()" icon="fa-book" label="Cadastrar Responsavel Inscrição"></button>
    <button pButton type="button" (click)="cadastrarAvaliadores()" icon="fa-group" label="Cadastrar Avaliadores"></button>
    <p-messages [(value)]="mensagens"></p-messages>
    <p-sidebar [(visible)]="visibleSidebar" position="left" [baseZIndex]="10000">
      <h1 style="font-weight:normal">Login</h1>
      <form (submit)="logar($event)">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <p-inputMask type="text" mask="999.999.999-99" placeholder="CPF"></p-inputMask>
        </div>
        <br>
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user-secret"></i></span>
          <input pPassword type="password" name="senha" placeholder="Senha" />
        </div>
        <br>
        <div class="ui-inputgroup">
          <button pButton type="submit" label="Acessar" class="ui-button-success"></button>
          <button pButton type="button" (click)="visibleSidebar = false" label="Voltar" class="ui-button-secondary"></button>
        </div>

        <div class="ui-g-12 ui-sm-12 ui-fluid">
          <figure class="figure">
            <img [src]="netImage" class="figure-img img-fluid rounded" width="200px">
          </figure>
        </div>
      </form>
    </p-sidebar>
    <!-- Body -->
    <div class="ui-g-12">
      <h3>Acompanhamento de votação</h3>
      <h5>Cosplay</h5>
      <p-dataTable #tabela [value]="participantesCosplay" [rows]="10" [paginator]="false" emptyMessage="Nenhum participante cadastrado">
        <p-column field="personagem" header="Cosplay"></p-column>
        <p-column field="nome" header="Nome do Participante"></p-column>
        <p-column field="pontos" header="Pontuação"></p-column>
      </p-dataTable>

      <h5>Cospobre</h5>
      <p-dataTable #tabela2 [value]="participantesCospobre" [rows]="10" [paginator]="false" emptyMessage="Nenhum participante cadastrado">
        <p-column field="personagem" header="Cospobre"></p-column>
        <p-column field="nome" header="Nome do Participante"></p-column>
        <p-column field="pontos" header="Pontuação"></p-column>
      </p-dataTable>

    </div>
  </div>
</div>